body {
  background-color: black;
}

.content {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.items {
  display: flex;
  gap: 3rem;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.spacing {
  margin: 3.5rem;
}

.list-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-flex {
  margin: 0 4rem;
}
