body {
  background-color: black;
}

.content {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.items {
  display: flex;
  gap: 3rem;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.spacing {
  margin: 3.5rem;
}

.list-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-flex {
  margin: 0 4rem;
}

/* popup window */

.popup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 9999;
  display: none;
  height: auto;
}

.close-btn {
  margin-top: -50%;
  margin-left: 60%;
}

.popup-image {
  margin-top: 20%;
  margin-left: -60%;
  margin-bottom: 5%;
}